/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Changing the main font and background colour */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-image: url(../images/gradientbackground%20copy.jpg);
}

section{
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background: url("../images/gradientbackground copy.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

header{
	position: relative;
	top: 0;
	width: 85%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content{
	max-width: 650px;
	margin: 60px 100px;
}

h2 {
	margin: 60px 10px;
}

.content .info h2{
	color: #6d4c3d;
	font-size: 55px;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 2px;
	line-height: 60px;
	margin-bottom: 30px;	
}

.content .info h2 span{
	color: #fff;
	font-size: 50px;
	font-weight: 600;
}

.content .info p{
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 40px;
}

.content .info-btn{
	color: #fff;
	background: #6d4c3d;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	padding: 10px 20px;
	border-radius: 5px;	
	transition: 0.3s;
	transition-property: background;
}

.content .info-btn:hover{
	background: #4F3529
}

row {
	background-color: white;
}

.bgwhite {
	background-color: #FFFFFF;
}

/* Changing the background colour for the header */

header {
	background-color: #D6B694;
}

col-sm-8 col-md-9 col-lg-10 py-sm-4 {
	background-color: white;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #FFFFFF;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

/* responsiveness of page */

	.content .info h2{
		font-size: 45px;
		line-height: 50px;
	}
	
	.content .info h2 span{
		font-size: 40px;
		font-weight: 600;
	}
	
	.content .info p{
		font-size: 14px;
	}

@media (max-width: 560px){
	.content .info h2{
		font-size: 35px;
		line-height: 40px;
	}
	
	.content .info h2 span{
		font-size: 30px;
		font-weight: 600;
	}
	
	.content .info p{
		font-size: 14px;
}
}
